################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PngToJpegConverter/v15/Server/sqlite3
/.vs/PngToJpegConverter/v15
